---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Use the method at
// https://github.com/mmistakes/minimal-mistakes/discussions/1352
// to limit the font size. Sizes over 18px just look _huge_.
html {
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($large) {
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    font-size: 16px;
  }
}

// Don't display TOC items of levels 3 and more.
// See also Minimal Mistakes's `_navigation.scss`.
.toc__menu {
  li ul li ul > li a {
    display: none;
  }

  li ul li ul li ul > li a {
    display: none;
  }

  li ul li ul li ul li ul > li a {
    display: none;
  }

  li ul li ul li ul li ul li ul > li a {
    display: none;
  }
}

table {
  font-size: 90%;
}

tr,
td,
th {
  vertical-align: top;
}

/*
nav a.site-logo img {
  width: 117px;
  // Currently not used. -> Investigate.
  height: 67px;
}
*/
